
        <app-header></app-header>
        
        
           <!-- <app-content-home></app-content-home> -->
           <!-- <app-content-suppliers></app-content-suppliers> -->
           <!-- <app-content-supplier-detail></app-content-supplier-detail> -->
           <!-- <app-products></app-products> -->
           <!-- <app-product-detail></app-product-detail> -->
           <!-- <app-content-new-grid></app-content-new-grid> -->
           <!-- <app-content-new-detail></app-content-new-detail> -->
           <app-content-contact></app-content-contact>
      
        <app-footer></app-footer>